/bin
/obj
a.out
obj/Debug/netcoreapp2.0/CSharpAlgorithm.csproj.CoreCompileInputs.cache
bin/Debug/netcoreapp2.0/CSharpAlgorithm.dll
bin/Debug/netcoreapp2.0/CSharpAlgorithm.pdb
obj/Debug/netcoreapp2.0/CSharpAlgorithm.dll
obj/Debug/netcoreapp2.0/CSharpAlgorithm.pdb
obj/Debug/netcoreapp2.0/CSharpAlgorithm.assets.cache
obj/Debug/netcoreapp2.0/CSharpAlgorithm.pdb
bin/Debug/netcoreapp2.0/CSharpAlgorithm.dll
bin/Debug/netcoreapp2.0/CSharpAlgorithm.pdb
obj/Debug/netcoreapp2.0/CSharpAlgorithm.dll
obj/Debug/netcoreapp2.0/CSharpAlgorithm.assets.cache
obj/Debug/netcoreapp2.0/CSharpAlgorithm.csproj.CoreCompileInputs.cache
